<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de <%= user.Name %></title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="bg-purple text-white py-3">
      <div class="container d-flex justify-content-between align-items-center">
        <h1 class="bookswap"><a href="/">BookSwap</a></h1>
        <nav>
          <ul class="nav">
            <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link text-white" href="/profile">Perfil</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link text-white" href="/publish-book"
                >Publicar Livro</a
              >
            </li>
            <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/register">Registrar</a>
            </li>
            <% } %> <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link text-white" href="/all-books"
                >Todos os Livros</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container profile-container">
      <h1 class="text-center my-5">Bem-vindo, <%= user.Name %>!</h1>
      <div class="profile-info">
        <img
          src="<%= user.ProfilePictureURL %>"
          alt="Foto de perfil"
          class="profile-pic"
        />
        <form
          action="/update-profile-picture"
          method="post"
          class="update-pic-form"
        >
          <div class="form-group">
            <label for="profilePictureURL">Link da Foto de Perfil:</label>
            <input
              type="url"
              id="profilePictureURL"
              name="profilePictureURL"
              placeholder="Insira o link aqui"
              required
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-primary">Atualizar Foto</button>
        </form>
      </div>

      <h2 class="my-4">Seus Livros Publicados</h2>
      <div class="books">
        <% books.forEach(function(book) { %>
        <div class="book">
          <a href="/book-details/<%= book.BookID %>">
            <img src="<%= book.CoverImageURL %>" alt="<%= book.Title %>" />
            <h3><%= book.Title %></h3>
            <p>Autor: <%= book.Author %></p>
            <p>Publicado por: <%= book.Publisher %></p>
          </a>
        </div>
        <% }); %>
      </div>

      <h2 class="my-4">Suas Notificações</h2>
      <div class="notifications">
        <% transactions.forEach(function(transaction) { if (transaction.SellerID
        === user.UserID && transaction.TransactionStatus === 'Pending') { %>
        <div class="notification">
          <p>
            Proposta de troca para o livro: "<%= transaction.BookTitle %>" -
            Status: <%= transaction.TransactionStatus %>
          </p>
          <a
            href="/trade-details/<%= transaction.TransactionID %>"
            class="btn btn-info"
            >Ver Detalhes da Troca</a
          >
        </div>
        <% } }); %>
      </div>

      <h2 class="my-4">Suas Trocas</h2>
      <div class="trades">
        <% transactions.forEach(function(transaction) { if (transaction.BuyerID
        === user.UserID && transaction.TransactionStatus === 'Pending') { %>
        <div class="trade">
          <p>
            Sua proposta de troca para o livro: "<%= transaction.BookTitle %>" -
            Status: <%= transaction.TransactionStatus %>
          </p>
          <a
            href="/trade-details/<%= transaction.TransactionID %>"
            class="btn btn-info"
            >Ver Detalhes da Troca</a
          >
        </div>
        <% } }); %>
      </div>

      <h2 class="my-4">Histórico de Trocas</h2>
      <div class="trade-history">
        <% transactions.forEach(function(transaction) { if ((transaction.BuyerID
        === user.UserID || transaction.SellerID === user.UserID) &&
        transaction.TransactionStatus === 'Completed') { %>
        <div class="trade-history-item">
          <p>
            Troca completada para o livro: <%= transaction.BookTitle %> - Data:
            <%= transaction.TransactionDateTime %>
          </p>
        </div>
        <% } }); %>
      </div>
    </div>
    <footer class="bg-dark text-white text-center py-3">
      <div class="container">
        <p>&copy; 2024 BookSwap. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
